html {
  position: relative;
  min-height: 100%;

  body {
    margin-bottom: 50px;

    .fc-sun {
      color: #FF0000;
    }
    .fc-sat {
      color: #0000FF;
    }

    .modal-footer {
      button {
        width: 100px;
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
