html {
  position: relative;
  min-height: 100%;

  body {
    margin-bottom: 50px;

    .fc-time {
      display: none;
    }
    .fc-sun {
      color: #f00;
    }
    .fc-sat {
      color: #00f;
    }

    .modal {
      top: 15%;
      .modal-footer {
        button {
          width: 100px;
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
