body {
  h2 {
    padding-bottom: 25px;
  }

  #login-wrapper {
    max-width: 30em;
    margin: 0 auto;

    #js-submit {
      margin-top: 15px;
    }
    #login-result {
      margin-top: 15px;
    }
  }
}
