extends layout

block title
  title= title

block css
  link(rel='stylesheet', href='./css/lib/fullcalendar-3.0.1.min.css')
  link(rel='stylesheet', href='./css/lib/bootstrap-datepicker.css')
  link(rel='stylesheet', href='./css/calendar.css')

block content
  .container
    if login
      #js-team_id(style='display: none')= team_id
      //カレンダー
      #js-calendar

      // モーダル
      #js-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title スケジュール
            .modal-body
              .md-form
                if delegate
                  input#js-title.form-control(type='text')
                else
                  input#js-title.form-control(type='text', readonly)
                label(for='js-title') タイトル
              .form-group
                label.control-label 開始日
                input.form-control.datepicker#js-datepicker-start(type='text', readonly)
              .form-group
                label.control-label 終了日
                input.form-control.datepicker#js-datepicker-end(type='text', readonly)
              .md-form
                if delegate
                  input#js-location.form-control(type='text')
                else
                  input#js-location.form-control(type='text', readonly)
                label(for='js-location') 開催場所
              .md-form
                if delegate
                  input#js-memo.form-control(type='text')
                else
                  input#js-memo.form-control(type='text', readonly)
                label(for='js-memo') メモ
              if delegate
                .form-group
                  .form-check
                    label.form-check-label
                      h5
                        input.form-check-input.js-dispatcher(type='checkbox')
                        | 配車
                .md-form#js-aggregate-base
              #js-error-messages
            .modal-footer#modal-footer
              if delegate
                button.btn.btn-blue-grey.pull-left(type='button', data-dismiss='modal') キャンセル
                button.btn.btn-primary#js-submit(type='button', data-dismiss='modal') 登録
              else
                button.btn.btn-danger(type='button', data-dismiss='modal') 閉じる

      if delegate
        #js-modal-confirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog.modal-sm(role='document')
            .modal-content
              .modal-body
                h4#myModalLabel.modal-title 削除しますか？
              .modal-footer
                  button.btn.btn-blue-grey.pull-left(type='button', data-dismiss='modal') キャンセル
                  button.btn.btn-danger#js-submit-delete(type='button', data-dismiss='modal') 削除
    else
      .alert.alert-danger ログインしてください

block script
  script(src='./js/lib/moment-2.15.1.min.js')
  script(src="./js/lib/fullcalendar-3.0.1/fullcalendar.min.js")
  script(src="./js/lib/fullcalendar-3.0.1/ja.js")
  if login
    if delegate
        script(src="./js/lib/bootstrap-datepicker/bootstrap-datepicker.min.js")
        script(src="./js/lib/bootstrap-datepicker/bootstrap-datepicker.ja.min.js")
        script(src="./js/calendar-delegate.js")
      else
        script(src="./js/calendar-user.js")
