footer.page-footer.blue.center-on-small-only
  .container-fluid
    .row
      .col-md-6
        h5.title Footer Content
        p Here you can use rows and columns here to organize your footer content.
      .col-md-6
        h5.title Links
        ul
          li
            a(href='#!') Link 1
          li
            a(href='#!') Link 2
          li
            a(href='#!') Link 3
          li
            a(href='#!') Link 4
  .footer-copyright
    .container-fluid
      | © 2016 Copyright
