nav.navbar.navbar-dark.bg-primary
  button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#collapseEx2')
    i.fa.fa-bars
  .container
    #collapseEx2.collapse.navbar-toggleable-xs
      a.navbar-brand(href='http://localhost:3000/')
        i.fa.fa-home.fa-lg
      ul.nav.navbar-nav
        li#js-timeline.nav-item
          a.nav-link(href='#') タイムライン
        li#js-schedule.nav-item
          a.nav-link(href='http://localhost:3000/calendar') カレンダー
        li#js-dispatcher.nav-item
          a.nav-link(href='http://localhost:3000/dispatcher') 配車
        li#js-score.nav-item
          a.nav-link(href='#') スコア
        li#js-log.nav-item
          if login
            a.nav-link(href='http://localhost:3000/logout') ログアウト
          else
            a.nav-link(href='http://localhost:3000/login') ログイン
