header.navbar.navbar-inverse.navbar-fixed-top
  .container
    a.navbar-brand.text-muted(href='#') 少年団支援システム
    ul.nav.navbar-nav.navbar-right
      li
        a(href='#') タイムライン
      li.active
        a(href='#') カレンダー
      li
        a(href='#') 配車
      li
        a(href='#') スコア
      li
        a(href='#') ログイン
