header.navbar.navbar-inverse.navbar-fixed-top
  .container
    a.navbar-brand.text-muted(href='#') 少年団支援システム
    ul.nav.navbar-nav.navbar-right
      li#timeline
        a(href='#') タイムライン
      li#calendar
        a(href='#') カレンダー
      li#dispatcher
        a(href='#') 配車
      li#score
        a(href='#') スコア
      li#login
        a(href='#') ログイン
