header.navbar.navbar-inverse.navbar-fixed-top
  .container
    a.navbar-brand.text-muted(href='./') 少年団支援システム
    ul.nav.navbar-nav.navbar-right
      li#timeline
        a(href='#') タイムライン
      li#calendar
        a(href='./calendar') カレンダー
      li#dispatcher
        a(href='#') 配車
      li#score
        a(href='#') スコア
      if login
        li#login
          a(href='./logout') ログアウト
      else
        li#login
          a(href='./login') ログイン
