extends layout

block title
  title= title

block content
  div.container
    span.glyphicon.glyphicon-search
    h1 json test
    div
      div
        label Name
        input#id(type="text" value="user")
      div
        label Password
        input#password(type="password" value="userpass")
    button#post login

    div
      a(href="./api/logout") logout

    div#result

    div
      if title !== null
        p= title
      else
        p= "null"

    sample

    div
      h1
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    div
      h1
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

block script
  script(src="./js/lib/riot-2.6.3.min.js")
  script(src="./riot/sample.js")
  script.
    riot.mount('*');
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='./js/token.js')
