extends layout

block title
  title= title

block css
  link(rel='stylesheet', href='./css/index.css')

block content
  .container
    .jumbotron
      h1 少年団支援システム
      br
      .row
        .col-sm-6.offset-sm-2
          a.btn.btn-lg.btn-info.btn-block(href='./register/team') 
            i.fa.fa-users.left   チーム新規登録
      br
      .row
        .col-sm-6.offset-sm-2
          a.btn.btn-lg.btn-success.btn-block(href='./register')
            i.fa.fa-user.left   アカウント新規登録
