extends layout

block title
  title= title

block css
  link(rel='stylesheet', href='./css/index.css')

block content
  .container
    .jumbotron
      h1 少年団支援システム
      p
        a.btn.btn-lg.btn-success(href='./register') アカウントを新規登録
