doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://172.16.1.12:3000/css/lib/bootstrap.min.css')
    link(rel='stylesheet', href='http://172.16.1.12:3000/css/lib/mdb.min.css')
    link(rel='stylesheet', href='http://172.16.1.12:3000/css/style.css')

    block css
  body
    include header
    block content
    // include footer

    script(src='http://172.16.1.12:3000/js/lib/jquery-2.2.4.min.js')
    script(src='http://172.16.1.12:3000/js/lib/tether.min.js')
    script(src='http://172.16.1.12:3000/js/lib/mdb.min.js')
    script(src='http://172.16.1.12:3000/js/lib/bootstrap.min.js')
    // script(src='http://localhost:3000/js/lib/footerFixed.js')
    block script
