doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./css/lib/bootstrap-3.3.7.min.css')
    link(rel='stylesheet', href='./css/style.css')
  body
    include header
    block content
    include footer