extends layout

block title
  title= title

block css
  link(rel='stylesheet', href='./css/login.css')

block content
  .container
    #login-wrapper
      .card-block
        .text-xs-center
          h3 ログイン認証
          hr.m-t-2.m-b-2
        form
          .md-form
            i.fa.fa-user.prefix
            input#js-user-id.form-control(type='text', value='admin')
            label ユーザー名
            
          .md-form
            i.fa.fa-lock.prefix
            input#js-user-password.form-control(type='password', value='adminpass')
            label パスワード
          button.btn.btn-lg.btn-primary.btn-block#js-submit(type='submit') ログイン
          #login-result

block script
  script(src="./js/login.js")
