extends layout

block title
  title ログイン

block css
  link(rel='stylesheet', href='./css/login.css')

block content
  .container
    #login-wrapper
      h2 ログイン認証
      form.form-group
        label ユーザー名
        input.form-control#js-user-id(type='text', placeholder='ユーザーID', required='', autofocus='')
      .form-group
        label  パスワード
        input.form-control#js-user-password(type='password', placeholder='パスワード', required='')
      button.btn.btn-lg.btn-primary.btn-block#js-submit(type='submit') ログイン
      #login-result


block script
  script(src='./js/lib/jquery-2.2.4.min.js')
  script(src="./js/login.js")
