extends layout

block title
  title= title

block css
  // link(rel='stylesheet', href='./css/register.css')

block content
  .container
    #register
  
block script
  script(src='https://npmcdn.com/react@15/dist/react-with-addons.js')
  script(src='https://unpkg.com/react-dom@15/dist/react-dom.js')
  script(src='https://npmcdn.com/reactstrap@2/dist/reactstrap.min.js')
  script(src="./js/component/register.js")
